@keyframes buttonspin{
    0%{


    }100%{
        .burger-nav{
            rotate: (45deg);
        }}
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}




body{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.1),whitesmoke,rgba(0, 0, 0, 0.1));

}
#ProductsSec{
    min-height: 100%;
}
button{
    background-color: whitesmoke;
    border: none;
}
button:hover{
    background-color: whitesmoke;
}
.burger-nav{
    position: sticky;
    top: 0;
    background-image: url("images/menu_7588931.png");
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background-color: transparent;
}
h1{
    font-weight: 400;
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
a{
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
footer a:link, a:visited{
    color: white;
    text-decoration: none;
}
a:link, a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    background-color: whitesmoke;
    border-radius: 20px;
    color: black;
    transition: 0.3s;
}


header{
    /* background: linear-gradient(45deg,#EDC9F9,whitesmoke); */
    background-color: whitesmoke;
    position: sticky;
    top: 0px;
    padding: 20px 0px 0px 0px;
    z-index: 1000;
    
    font-family: "Pacifico", cursive;
}
nav{
    padding: 0;
    height: 5vh;
    display: flex;
    gap: 5%;
}
nav .nav-link{
    display: block;
    width: 25%;
    height: 4vh;
    text-align: center;
    border-radius: 20px;
}
nav .nav-link:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
nav .nav-link:hover::before, nav .nav-link:hover::after{
    content: "-";
}
.sideMenuShow{
    display: block;
    background-color: transparent;
    position: fixed;
    z-index: 1001;
    margin-left: 10px;
    transition: linear 0.3s;
}
.sideMenuShow a{
background-color: rgb(0, 0, 0);
color: white;
width: 40vh;
margin-top: 10px;
font-weight: 300;
}
.sideMenuHide{
    display: none;
    transition: linear 0.3s;
}

.burger-nav{
    background-color: transparent;
    cursor: pointer;
}
#TopPhoto{
    height: 274px;
    width: 100%;
    background-image: url("/481897614_657755430105311_1551829371739882294_n.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 526px 274px;
    margin-top: 5vh;
}
h2{
    color: white;
}
article h2{
    color: black;
}
article h2, article h3{
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
    text-align: left;

}
article{
    scroll-margin-top: 150px;
    width: 90%;
    margin: 0px 2.5% 0px 2.5%;
}
html {
  scroll-behavior: smooth;
}
section{
    display: flex;
    width: 100%;
    height: 40vh;
    gap: 5%;
    margin-top: 20vw;
}
#TopSection{
    height: 100%;
    box-sizing: border-box;
}
#AboutUsSec{
    
    border: black dotted;
    border-left: 6px;
    border-right: 6px;
    border-spacing: 5px;
}
#Onas{
    background-color: #EDC9F9;
    width: 20%;
}
main{
    display: flex;
    flex-direction: column;
    column-gap: 20vh;
}
#ResSec p, #Contact p{
    margin-right: 25%;
    font-size: 150%;
}
p{
    margin: 5% 0 5% 5%;
    font-weight: 300;
    font-size: 100%;
    text-align: left;
}
.address{
    float: left;
    width: 25%;
}
.ProdDisplay{
    overflow-block: scroll;
    height: 60%;
    width: 100%;
    opacity: 1;
    }
#infos{
    width: 100%;
    height: 100%;
    
    
    
}
#BottomSection{
    display: flex;
    margin-top: calc(800px + 2vh);
    margin-bottom: 20%;
}
#AdresBruh{
    width: 50%;
    text-indent: 50px;
}
.prodCont{
    height: 100%;
    width: 3000px;
    display: flex;
    gap: 2%;
    
}
.ProdDisplay {
    min-height: 400px;
    margin-top: 5vh;
    margin-bottom: 2.5vh;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE i Edge */
}

.ProdDisplay::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}
.product{
width: 400px;
height: 400px;
border-radius: 10px;
background-color: white;

}
#TopPhotoSection{
    background: url("/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height:623px;
    margin: 0;
}


    @media screen and (max-width: 768px) {
    
        nav{
            display: none;
        }
        #DoubleCardSec, section{
            display:block;
            width: 100%;
            height: 100%;
        }
        #ResSec,#ContactSec{
            background-color: #EDC9F9;
            border-radius: 20px;
            width: 95%;
            margin-right: 2.5%;
            height: 100%;
        }
        #ResSec h3,#ContactSec h3{
            text-align: center;
        }
        
        #BottomSection{
        margin-bottom: 100%;
        margin-top: 5vh;
        }
        #Onas{
            width: 50%;
        }
    }
    @media screen and (min-width: 768px) {
    
        .burger-nav{
            display: none;
        }
        .sideMenu{
            display: none;
        }
        .sideMenu a{
            display: none;
        }
    
        #ResSec, #ContactSec{
        width: 45%;
        height: 100%;
        background-color: #EDC9F9;
        border-radius: 20px;
        text-align: center;
    }
        #ResSec:hover, #ContactSec:hover{
            background-color: #EDC9F9;
            box-shadow: 10px -3px 50px 1px rgba(0, 0, 0, 0.5);
            transition: 0.3s;
        }
    
    }
#prod1{
    background: url("/product1.png");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}
#prod2{
        background: url("/product2.png");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}
#prod3{
        background: url("/product3.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}
#prod4{
        background: url("/product4.png");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;

}
